* {
  box-sizing: border-box;
}
.html, body {
  margin: 0;
  padding: 0;
  height: 100%;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  width: calc(100% * 4 / 10);
  display: flex;
    min-width: 0;
}

/* THANH XANH */
.left-bar {
  width: 66px;
  background-color: #005ae0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}
.left-content {
  flex: 1;
  min-width: 0;
  background-color: #fff;
}

/* vị trí */
.bar-top {
  margin-bottom: 12px;
}

/* AVATAR IMG */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

/* ICON FALLBACK */
.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 18px;
}

.bar-middle {
  margin-top: 2px; /* sát avatar hơn */
  padding:10px;
}

.bar-bottom {
  margin-top: auto;
}


/* ICON */
.bar-icon {
  color: #fff;                /* 👈 icon trắng */
  font-size: 28px;
  padding: 10px;
  border-radius: 8px;         /* vuông bo nhẹ */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* hover: nền đen/xám nhẹ */
.bar-icon:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  padding:10px;
}

/* ô search */
.search-box {
  flex: 1;
  background-color: #e9e9e9;
  border-radius: 5px;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.search-box i {
  color: #666;
  font-size: 14px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}
.clear-search {
  display: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.clear-search:hover {
  color: #000;
}

/* icon add user */
.add-user {
  width: 36px;
  height: 36px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* IMG ICON – không nền */
.add-user img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* hover */
.add-user:hover {
  background-color: rgba(0, 0, 0, 0.15);

}

/* BÊN PHẢI 7/7 */
.right {
  width: calc(100% * 6 / 10);
  background-color: #e0e0e0;
  display: flex;
  padding: 0;            /* 👈 bỏ */
  overflow: hidden;

  overflow-y: auto;       /* vẫn scroll */
  scrollbar-width: none;  /* Firefox */
}

.right::-webkit-scrollbar {
  display: none;
}

                                /* ----------------------------------
                                   Phần user bên khung bên trái
                                ---------------------------------- */

.user-item {
  display: flex;
  flex-direction: row;   /* 👈 ÉP NẰM NGANG */
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
}

.user-item:hover {
  background-color: #f5f7fb;
  cursor:pointer;
}

/* AVATAR */
.user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-avatar i {
  font-size: 18px;
  color: #9ca3af;
}

/* INFO */
.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.user-phone {
  font-size: 14px;
  color: #111;
  margin-top: 2px;
  font-weight: 400;
}

.phone-number {
  color: #005ae0; /* xanh biển */
  font-weight: 500;
}

                                /* ----------------------------------
                                            Phần bên phải
                                ---------------------------------- */

 /* Container chat bên phải */
.chat-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  border-left: 1px solid #ddd;
  width:100%;
}

/* HEADER */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.chat-header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-header-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-header-name {
  font-weight: 600;
  font-size: 16px;
}

.chat-header-actions i {
  margin-left: 12px;
  cursor: pointer;
  color: #666666;
}

/*Phần add fiend*/
.friend-request-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;

  font-size: 14px;
}

/* BÊN TRÁI */
.friend-request-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
}

.friend-request-left img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* BÊN PHẢI */
.friend-request-right {
  background-color: #e5e7eb;
  color: #111;
  padding: 6px 14px;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.friend-request-right:hover {
  background-color: #d1d5db;
}


/* MESSAGES AREA */
.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width:none;
}

.message {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  max-width: 60%;
}

.message-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

/* Tin nhắn gửi */
.message-content {
  background-color: #e5f1ff;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;

  /* VIỀN ẢO + BÓNG KIỂU ZALO */
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.09),  /* viền cực mỏng */
    0 1px 1px rgba(0, 0, 0, 0.2),   /* bóng sát */
    0 3px 6px rgba(0, 0, 0, 0.1);   /* đậm phía dưới */

  /* TEXT */
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}



/* Tin nhắn gửi */
.message-send {
  align-self: flex-end;
}

.message-send .message-content {
  background-color: #e5f1ff;
  color: #111;
}

/* Tin nhắn nhận */
.message-receive {
  align-self: flex-start;
}

.message-receive .message-content {
  background-color: #fff;
  color: #111;
}

/* INPUT AREA */
.chat-input-area {
  background-color: #fff;
  border-top: 1px solid #ddd;     /* gạch trên */
  border-bottom: 1px solid #ddd;  /* gạch dưới */
}

/* TOOLBAR */
.chat-input-toolbar {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 8px 16px;
  color: #666;
}

.chat-input-toolbar i {
  font-size: 18px;
  cursor: pointer;
}

.chat-input-toolbar i:hover {
  color: #005ae0;
}

/* GẠCH NGĂN GIỮA */
.chat-input-divider {
  height: 1px;
  background-color: #e5e5e5;
  margin: 0 16px;   /* 👈 thụt vào giống Zalo */
}

/* INPUT */
.chat-input-box {
  padding: 8px 16px;
}

.chat-input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px 0;
}


/* PHẦN KHUNG LIST-CHAT*/
.chat-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.chat-item:hover {
  background: #f2f2f2;
}

.chat-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-info {
  flex: 1;
  overflow: hidden;
}

.chat-name {
  font-weight: 600;
}

.chat-last {
  font-size: 16px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:5px;
}

.chat-last-image {
  display: inline-flex;
  align-items: center;   /* 🔥 căn đáy chữ & icon */
  gap: 4px;
}

.chat-last-image img {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

/* PHẦN KẾT BẠN */
.friend-request-actions {
  display: flex;
  gap: 8px;
}

.friend-request-accept {
  background-color: #e5e7eb;
  color: #111;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

.friend-request-cancel {
  background-color: #e5e7eb;
  color: #111;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

/*Gửi Hình ảnh*/
.image-preview-container {
  display: flex;
  gap: 8px;
  padding: 6px 10px;
}

.image-preview {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-preview span {
  position: absolute;
  top: 2px;
  right: 4px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%;
  padding: 2px 6px;
}


.message-images {
  display: flex;
  gap: 6px;
  margin-top: 4px;
  flex-wrap: wrap;
}

.chat-image {
  max-width: 180px;
  max-height: 180px;
  border-radius: 10px;
  cursor: pointer;
}


.image-wrap {
  position: relative;
}

.image-wrap.loading::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.6);
}

.image-wrap.loading::before {
  content: "⏳";
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 18px;
}




.message-files {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #e5f1ff;
  width: 400px;           /* khung cố định */
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;

  /* VIỀN ẢO + BÓNG KIỂU ZALO */
  box-shadow:
    0 0 0 0.5px rgba(0, 0, 0, 0.09),
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

.file-icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.file-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.file-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.file-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  white-space: nowrap;       /* không xuống dòng */
  overflow: hidden;          /* ẩn phần tràn */
  text-overflow: ellipsis;   /* hiện dấu ... nếu dài */
  max-width: calc(100% - 60px); /* trừ width icon + gap */
}

.file-meta {
  font-size: 12px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 4px;
}

.file-meta img {
  width: 14px;
  height: 14px;
}

.file-wrapper {
  position: relative;
}

.file-action-box {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  cursor:pointer;
}

.file-action-box img {
  width: 16px;
  height: 16px;
}


/*======================= Modal nền=========================== */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;  /* tăng z-index */

}

.modal-content {
  width: 500px;        /* chiều ngang */
  height: 80vh;        /* 80% chiều cao viewport */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10001; /* luôn cao hơn backdrop */
  background-color: #fff;
}

/* ========== HEADER ========== */
.modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  flex-shrink: 0;
}

/* Chữ Tạo nhóm */
.modal-header-top .modal-title {
  font-size: 20px;
  font-weight: 600;
}

/* Khung input và icon nằm ngang */
.modal-header-main {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.group-icon {
  width: 60px; height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);  /* Viền xanh */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.group-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Input tên nhóm */
.group-name {
  flex: 1;
  padding: 12px 10px;       /* Padding top/bottom rộng */
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #0068ff;
}

/* Input tìm kiếm bạn bè */
.add-group-search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width:100%;
}

/* ========== BODY scrollable ========== */
.modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px 20px;
}
.recent-chat-title{
    font-size:14px;
    font-weight:500;
}

.group-users {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0px;
}

.group-user-item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding:10px 10px;
}
.group-user-item:hover {
  background: #f2f3f5;
}
.group-user-item input {
  width: 15px;
  height: 15px;
}

.group-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.group-user-name {
  font-size: 14px;
}

/* ========== FOOTER ========== */
.modal-footer {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#createGroup {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size:15px;
  cursor:pointer;
  border-radius:3px;
}
#createGroup:hover {
  background-color: #0f5fd6; /* xanh đậm hơn */
  box-shadow: 0 2px 6px rgba(24, 119, 242, 0.35);
}

#cancelGroup {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 25px;
  font-size:15px;
  cursor:pointer;
  border-radius:3px;
}
#cancelGroup:hover {
  background-color: #d8dadf;
}



/*========================Phần dropdown search thêm nhóm=====================*/
.group-search-wrapper {
  position: relative;
  width:100%;
}

.group-search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 6px;
  max-height: 260px;
  overflow-y: auto;
  display: none;
  z-index: 20000;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.group-search-dropdown.show {
  display: block;
}

.group-search-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  cursor: pointer;
}

.group-search-item:hover {
  background-color: #f0f2f5;
}

.group-search-item input {
  pointer-events: none; /* click đâu cũng tick */
}

.group-search-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.group-search-name {
  font-size: 14px;
}

.group-avatar {
  position: relative;
  width: 48px;
  height: 48px;
}

.group-avatar img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 2px solid #fff;
  background: #fff;
}

/* Avatar trên */
.group-avatar img:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/* Avatar dưới trái */
.group-avatar img:nth-child(2) {
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* Avatar dưới phải */
.group-avatar img:nth-child(3) {
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* =================== CSS phần lịch sử ==================================*/
.chat-info-modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;
}

.chat-info-modal.active {
  display: block;
}

.chat-info-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

/* BOX */
.chat-info-box {
  position: absolute;
  right: 20px;
  top: 10%;
  width: 550px;
  height: 80%;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* SECTION */
.chat-info-section {
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
}

.chat-info-section.center {
  text-align: center;
  font-weight: 600;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-content {
  font-size: 14px;
  color: #444;
}

/* SCROLL */
.chat-info-section.scroll {
  flex: 1;
  overflow-y: auto;
  scrollbar-width:none;
}

/* MEDIA */
.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.media-grid img,
.media-grid video {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
}

/* FILE */
.file-list div {
  padding: 6px 0;
  font-size: 14px;
}

#chatInfoName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 0;
}

.chat-avatar-history {
    width: 50px;
    height: 50px;
    border-radius: 50%;     /* hình tròn */
    object-fit: cover;
    border: 2px solid #ccc;
}

#chatInfoText {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #333;
    word-break: break-word;
}
