<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalo Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/css.css') }}">
    <script src="{{ url_for('static', filename='JS/js.js') }}"></script>


</head>

<body>
<div class="layout">
    <!-- BÊN TRÁI 3/7 -->
    <div class="left">

        <div class="left-bar">
            <div class="bar-top">
                {% if user.avatar %}
                <img src="{{ user.avatar }}"
                     alt="Avatar"
                     class="avatar">
                {% else %}
                <i class="fa-solid fa-user avatar-icon"></i>
                {% endif %}
            </div>

            <div class="bar-middle">
                <i class="fa-solid fa-comment-dots bar-icon"></i>
            </div>

            <div class="bar-bottom">
                <i class="fa-solid fa-gear bar-icon"></i>
            </div>
        </div>


        <div class="left-content">
            <!-- SEARCH BAR -->
            <div class="search-bar">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm..."/>
                    <span class="clear-search"></span>
                </div>

                <div class="add-user">
                    <img src="https://cdn-icons-png.flaticon.com/128/17847/17847652.png" alt="">
                </div>
            </div>
            <div class="line" style="width: 100%;height: 1px; background-color: #ddd;margin: 12px 0;"></div>

            <!-- DANH SÁCH CHAT -->
            <div id="chat-list"></div>
            <!-- Load user khi tim kiem -->
            <div id="user-list"></div>

        </div>
    </div>

    <!-- BÊN PHẢI 7/7 -->
    <div class="chat-right">

        <!-- HEADER CHAT -->
        <div class="chat-header">
            <div class="chat-header-info">
                <div class="chat-header-avatar">
                    <img src=""
                         alt="">
                </div>
                <div class="chat-header-name"></div>
            </div>
            <div class="chat-header-actions">
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>

        <div class="friend-request-bar"></div>


        <!-- MESSAGES -->
        <div class="chat-messages" id="chat-messages">
            <!-- Tin nhắn sẽ load ở đây -->
            <div class="message message-receive">
                <div class="message-avatar">
                    <img src="" alt="">
                </div>
                <div class="message-content"></div>
            </div>
            <div class="message message-send">
                <div class="message-content"></div>
            </div>
        </div>

        <!-- INPUT -->
        <div class="chat-input-area">

            <!-- TOOLBAR -->
            <div class="chat-input-toolbar">
                <i class="fa-regular fa-image open-image"></i>
                <i class="fa-solid fa-paperclip open-file"></i>
            </div>

            <!-- GẠCH NGĂN GIỮA -->
            <div class="chat-input-divider"></div>

            <!-- INPUT -->
            <div class="chat-input-box">
                <input
                        type="text"
                        id="chat-input-field"
                        placeholder="Nhập tin nhắn...">
            </div>
        </div>
    </div>

</div>
<script>
    window.ME_USER_ID = {{ user.user_id }};
</script>


</body>

</html>